* {
    font-family: 'Lora', serif;
}

.container-login {
    background-color: white;
    display: flex;
    min-width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.content-container-login {
    padding: 50px 25px;
    border: 2px solid rgba(250, 177, 220, 70%);
    box-shadow: 2px 2px 5px rgba(250, 177, 220, 70%);
    min-width: 20vw;
    border-radius: 8px;
}

.label {
    color: #ea80b0;
    font-weight: 600;
}

.input {
    color: #808080;
}

.form-button {

    background-color: rgba(250, 177, 220, 70%);
    color: #ea80b0;
    box-shadow: 1px 1px 3px #ea80b0;
    margin-top: 50px;
    border: #ea80b0;
}

.form-button:hover {
    background-color: #ea80b0;
    color: white;
    box-shadow: 1px 1px 3px #ea80b0;
    border: #ea80b0;
}