.container-navbar {
    background-color: rgba(185, 223, 226, 90%) ;
    
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}

.container {
    margin: 10px;
}

.container-navbar a {
    color: #39645B;
    border-radius: 5px;
    margin: 0 2px;
    font-weight: 600;
    font-size: 18px;
}

.navbar {
    margin: 0;
    padding: 0;
}

.navbar-nav {
    margin: 15px;
    padding: 0;
}

.navbar-expand {
    justify-content: space-between;
} 

.nav-link:hover {
    color: white;
    background-color: #39645B;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #bcece0 ;
}

h2 {
    font-weight: 100;
    margin: 0 5px;
}

.logo-nav {
    height: 100px;
    width: 225px;
    display: flex;
    margin: 10px 10px 10px 20px;
}