.container-navbar {
    background-color: rgba(198, 235, 197, 90%);    
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}

.container {
    margin: 0px;
}

.container-navbar a {
    color: #3C6255;
    border-radius: 5px;
    margin: 0 2px;
    font-weight: 600;
    font-size: 18px;
}

.navbar {
    margin: 0;
    padding: 0;
}

.navbar-nav {
    margin: 15px;
    padding: 0;
}

.navbar-expand {
    justify-content: space-between;
} 

.nav-link:hover {
    color: white;
    background-color: #3C6255;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #fbf2cf ;
}

h2 {
    font-weight: 100;
    margin: 0 8px;
}

.logo-nav {
    height: 90px;
    width: 200px;
    display: flex;
    margin: 10px 10px 10px 20px;
}